* {
	
	font-family:'Poppins', sans-serif;
	color:#000000; 
	
	
}

.foto1 { 
    padding: 2px; 
    margin: 5px; 
    float: right; 
    width: 100px; 
}
.foto3 { 
    padding: 2px; 
    margin: 5px; 
    float: right; 
    width: 300px;  
    display: flex;
}
.barra{
	
	width: 100%;
    height: 100px;
    background-color:#651E6E;
    top: 0;
    z-index: 4;
}
