
.Caja {
        width: 100%;
        height: 10px;
        background-color: #727272;
        position: fixed;
        top: 0;
        z-index: 4;
    }
.barra{
    width: 100%;
    height: 10px;
    background-color: #727272;
   
    top: 0;
    z-index: 4;
}
